Задача 1.  
Есть список. Например: [1,3,1,2,4,1,2].  
Нужно преобразовать его в список из элементов, которые встречаются в нем не более 2-х раз.  
Каждое третье и последующее вхождение из него убрать. Исходный порядок должен быть сохранен.

In [4]:
def change_list(list_in):
  list_out = []
  d = {}                          # словарь, где ключами будут элементы списка, значения - сколько раз элемент встретился в списке
  for i in range(0, len(list_in)):
    if list_in[i] in d.keys():    # если элемент есть в включах словаря, то его значение увеличиваем на 1
      d[list_in[i]] += 1
    else:
      d[list_in[i]] = 1           # если элемента нет в включах словаря, то добавляем его как ключ в словарь и присваиваем ему значение 1

    if d[list_in[i]] < 3:         # если счетчик количества раз, когда элемент встретился в списке < 3, то включаем его в новый список
        list_out.append(list_in[i])

  return list_out

In [5]:
list_1 =  [1,3,1,2,4,1,2]
list_2 = change_list(list_1)
list_2

[1, 3, 1, 2, 4, 2]

In [6]:
#test
list_3 = [2,4,6,4,7,2,6,2,8,4]
list_4 = change_list(list_3)
list_4

[2, 4, 6, 4, 7, 2, 6, 8]

In [7]:
#test
list_5 = [2,2,2,2,4,4,4,4]
list_6 = change_list(list_5)
list_6

[2, 2, 4, 4]

Задача 2.  
Дана строка s: str и список слов dictionary: List[str].  
Нужно найти слово максимальной длины из dictionary, которое можно получить удалением некоторого количества элементов из s.
Если таких слов несколько, то нужно вернуть то, которое имеет минимальный лексиграфический порядок.  
s = “abcpldpseplae”, dictionary = [‘ale’, ‘apple’, ‘monkey’, ‘sgfh’] -> ‘apple’’

In [10]:
def find_word(st, word_list):

  new_list = []    # список, в который войдут те слова из исходного списка, которые можно получить удалением некоторого количества элементов из исходной строки

  for word in word_list:  # каждое слово из исходного списка проверяем на возможность получить из строки удалением элементов
    new_word = ''
    for symbol in word:  # каждый символ слова ищем в строке, находим индекс его первого вхождения
      i = st.find(symbol)
      if i != -1:   # если индекс найден, то удаляем его из исходной строки и добавляем в формируемое новое слово
        st.replace(st[i], '')
        new_word += symbol
    if new_word == word:   # если новое слово соответствует исходному, значит, слово удовлетворяет условию, добавляем в список new_dict
      new_list.append(word)

    longest_words = sorted([w for w in new_list if len(w) == len(max(new_list, key=len))])  # находим все слова с максимальной длиной в new_dict и приводим в лексиграфический порядок

  return longest_words[0]  # берем первое по порядку слово

In [11]:
s = 'abcpldpseplae'
dictionary = ['ale', 'apple', 'monkey', 'sgfh']
find_word(s, dictionary)

'apple'

In [12]:
#test
s2 = 'sabcvpldpsepltae'
dictionary2 = ['ale', 'sveta', 'abpdl', 'apple', 'monkey', 'sgfh']
find_word(s2, dictionary2)

'abpdl'

In [13]:
#test
s3 = 'sabcvpldpsepltae'
dictionary3 = ['ale', 'sveta', 'monkey', 'sgfh']
find_word(s3, dictionary3)

'sveta'

Задача 3.  
Найти количество чисел меньше заданного для каждого элемента списка.  
Например: [4,3,1,4] => [2,1,0,2]

In [15]:
# Если я правильно понимаю задание:
# для каждого числа исходного списка смотрим, сколько чисел во всем списке меньше этого числа,
# и сохраняем результат в новый список.

def count_items_less(list_in):
  list_out = []
  for i in range(0, len(list_in)):  # для каждого элемента списка заводим счетчик
    count = 0
    for j in set(list_in):    # сравниваем с каждым элементом множества чисел исходного списка
      if list_in[i] > j:      # если число больше элемента множества, счетчик увеличиваем на 1
        count +=1
    list_out.append(count)  # в новый список добавляем счетчик для каждого элемента исходного списка

  return list_out

In [16]:
list_7 = [4,3,1,4]
list_8 = count_items_less(list_7)
list_8

[2, 1, 0, 2]

In [17]:
# test
list_9 = [2, 4, 6, 4, 7, 2, 6, 8]
list_10 = count_items_less(list_9)
list_10

[0, 1, 2, 1, 3, 0, 2, 4]

Задача 4.  
Есть список, состоящий из первых 20 чисел последовательности Фибоначчи
(каждый новый элемент – это сумма двух предыдущих).
Выведите все элементы, которые делятся на 3 без остатка.

In [ ]:
fib = [1, 1]
for i in range(2,20):   # первые 20 чисел последовательности Фибоначчи
  fib.append(fib[i-1]+fib[i-2])
print(len(fib), fib)
print('===========')

fib_new = []
for i in range(len(fib)):
  if fib[i] % 3 == 0:
    fib_new.append(fib[i])

fib_new

20 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]
===========

[3, 21, 144, 987, 6765]

Задача 5.  
Даны списки:  
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];  
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].  
a) Выведите элементы a, которые есть в списке а и нет в списке b.  
b) Выведите элементы a, которые есть и в списке a, и в списке b.  
с) Выведите элементы списков a и b, которые есть только в одном из двух
списков

In [ ]:
# a) Выведите элементы a, которые есть в списке а и нет в списке b.
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

a_new = []
for i in range(len(a)):
  if a[i] in set(a).difference(set(b)):
    a_new.append(a[i])

a_new

[21, 34, 55, 89]

In [ ]:
# b) Выведите элементы a, которые есть и в списке a, и в списке b.
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

a_new2 = []
for i in range(len(a)):
  if a[i] in set(a).intersection(set(b)):
    a_new2.append(a[i])

a_new2

[1, 1, 2, 3, 5, 8, 13]

In [ ]:
# с) Выведите элементы списков a и b, которые есть только в одном из двух списков
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

a_b = []
for i in range(len(a)):
  if a[i] not in set(a).intersection(set(b)):
    a_b.append(a[i])
for i in range(len(b)):
  if b[i] not in set(a).intersection(set(b)):
    a_b.append(b[i])

a_b.sort()
a_b

[4, 6, 7, 9, 10, 11, 12, 21, 34, 55, 89]

Задача 6.  

Даны два произвольных 4х-значных числа (в которых цифры не повторяются).  
a)	Выведите количество совпадающих цифр (которые есть и в первом числе, и во втором числе).  
b)	Выведите количество совпадающих цифр (которые есть и в первом числе, и во втором числе), позиции которых совпадают.  

Пример: 3729 и 5723   

a)	3 цифры (3, 7, 2)  
b)	2 цифры (7, 2)

In [ ]:
# a) Выведите количество совпадающих цифр (которые есть и в первом числе, и во втором числе).
a = 3729
b = 5723

a_list = list(str(a))
b_list = list(str(b))

print(len(set(a_list).intersection(set(b_list))))
print(set(a_list).intersection(set(b_list)))

3
{'2', '7', '3'}

In [ ]:
# b) Выведите количество совпадающих цифр (которые есть и в первом числе, и во втором числе), позиции которых совпадают.
match_digits = []
for i in range(4):
    if a_list[i] == b_list[i]:
        match_digits.append(a_list[i])

print(match_digits)
print(len(match_digits))

['7', '2']
2

Задача 7.    

Перемножьте цифры любого натурального числа.

In [29]:
a = 237

a_l = list(str(a))
result = 1
for i in range(len(a_l)):
    result *= int(a_l[i])

print(result)

42

Задача 8.     

Имеется вклад в размере X рублей сроком на Y лет под Z % годовых.
Начисленные за год проценты прибавляются к сумме вклада.  

Необходимо вывести сумму вклада через Y лет.

In [31]:
x = 100
y = 3
z = 10

result = x*(1+z/100)**y

result

133.10000000000005

Задача 9.    

Дано: текст, состоящий из нескольких предложений.   

a)	Необходимо вывести количество предложений.  
b)	Необходимо вывести количество слов.  
c)	Необходимо вывести количество слов, встречающихся в тексте более одного раза.  
d)	Необходимо вывести наиболее встречающееся слово.

In [32]:
sample_text = """
Она несла в руках отвратительные, тревожные желтые цветы. Черт их знает, как их зовут, но они первые почему-то появляются в Москве.
И эти цветы очень отчетливо выделялись на черном ее весеннем пальто. Она несла желтые цветы! Нехороший цвет.
Она повернула с Тверской в переулок и тут обернулась. Ну, Тверскую вы знаете?
По Тверской шли тысячи людей, но я вам ручаюсь, что увидела она меня одного и поглядела не то что тревожно, а даже как будто болезненно.
И меня поразила не столько ее красота, сколько необыкновенное, никем не виданное одиночество в глазах!
Повинуясь этому желтому знаку, я тоже свернул в переулок и пошел по ее следам. Мы шли по кривому, скучному переулку безмолвно, я по одной стороне, а она по другой.
И не было, вообразите, в переулке ни души.
Я мучился, потому что мне показалось, что с нею необходимо говорить, и тревожился, что я не вымолвлю ни одного слова, а она уйдет, и я никогда ее более не увижу...
"""

In [33]:
# a) Необходимо вывести количество предложений.
sample_text.count('.') + sample_text.count('!') + sample_text.count('?') + sample_text.count('...')

16

In [45]:
# b) Необходимо вывести количество слов.
len(sample_text.replace('\n', ' ').split(' ')[1:-1])  # [1:-1] - пустые строки - перенос строки, где тройные кавычки

158

In [46]:
import pandas as pd

In [72]:
# c) Необходимо вывести количество слов, встречающихся в тексте более одного раза.
word_count = pd.Series([x.strip(' ,.!?').lower() for x in sample_text.replace('\n', ' ').split(' ')[1:-1]]).value_counts()
print('c) ', len(word_count[word_count > 1]))

# d) Необходимо вывести наиболее встречающееся слово.
print('d) ', word_count.index[0])

c)  22
d)  и